<p>Oi, {{ name }}</p>

<p>Recebemos um pedido de redefinição de senha da sua conta no Parintins Digital.</p>
<p>É só clicar no botão abaixo para fazê-lo:</p>

<a href="{{ url }}">Redefinir sua senha</a>

<p>Se não foi você quem solicitou este email, você pode o ignorar.</p>